body    {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.container_form  {
    position: relative;
    background-color: blueviolet;
    margin: 0;
    padding-right: 20px;
    height: 500px;
}

.img_contact {
    display: none;

}

.form1  {
    width: 400px;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: -200px;
    position: absolute;
    left: 50%;
    top: 10%;

}

.h1_contact {
    text-align: center;
    font-size: 3em;
}


.pour_le_flex_label_input {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

input, select {
    width: 200px;
    box-sizing: border-box;
}

textarea {
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    
}

@media only screen and (min-width:768px)  {

    .img_contact {
        display: block;
        position: absolute;
        width: 700px;
        height: 500px;
        top: 0;
        left: 50%;
        margin-left: -350px;
    
    }


    .form1  {
        position: absolute;
        left: 80%;
        top: 10%;
        margin: auto 0;
        margin-left: -200px;


    }

}


@media only screen and (min-width:961px)  {

    .img_contact {
        display: block;
        position: absolute;
        width: 700px;
        height: 500px;
        top: 0;
        left: 50%;
        margin-left: -350px;
    
    }


    .form1  {
        position: absolute;
        left: 80%;
        top: 10%;
        margin: auto 0;
        margin-left: -200px;


    }

}
