/* Mobile Styles */
@media only screen and (max-width: 960px) {
   body {
        font-family: 'Lexend Deca', sans-serif;
   }
   
    .container-contenu {
        position: relative;
        height: 100%;
    }

    h1 {
        margin-left: 50px;
        padding: 10px;
        font-size: 2em;
        font-weight: bold;
        color: #676767;
    }

    .image {
        background-size: cover;
        height: 500px;
        position: absolute;
        top: 290px;
        width: 100%;
    }

    p {
        margin-left: 9vw;
        margin-right: 9vw;
        font-family: 'Lexend Deca', sans-serif;
    }

    .texte {
        margin: 50px 50px;
        padding: 50px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: justify;
    }

    
    .logo {
        margin: 5px 0 5px 5px;
        padding: 0;
    }
    .color-menu {
        color:#66c587;
    }
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {

    body {
        font-family: 'Lexend Deca', sans-serif;
    }

    .container-contenu {
        padding-top: 5vw;
        width: 90%;
        height: 100%;
        display: block;
    }

    .container-color {
        position: absolute;
        background-color:#EEC6C6;
        width: 45vw;
        height: 35vw;
        right: 5vw;
        opacity: 0.8;
    }

    .image {
        position: relative;
        width: 40vw;
        float: right;
        top: 5vw;
    }

    .texte {
        margin-left: 50px;
        position: absolute;
        top: 20vw; right: 46vw;
        width: 45vw;
        text-align: justify;
    }

    h1 {
        position: relative;
        top: 5px;
        margin-top: 30px;
        font-size: 3em;
        font-weight: bold;
        color: #676767;
        text-align: left;
    }

    p {
        margin-top: 20px;
        font-family: 'Lexend Deca', sans-serif;
    }
    
    .logo {
        margin: 5px 0 5px 5px;
        padding: 0;
    }
    
    .color-menu {
        color:#66c587;
    }


}

