

    
/* Mobile Styles */
@media only screen and (max-width: 960px) {
   .container-contenu {
        position: relative;
    }

    h1 {
        margin-top: 3vw;
        margin-left: 9vw;
        font-family: 'Asap', sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: #676767;
    }

    .image {
        background-size: cover;
        height: 500px;
        position: absolute;
        top: 290px;
        width: 100%;
    }

    p {
        margin-left: 9vw;
        margin-right: 9vw;
        font-family: 'Lexend Deca', sans-serif;
    }

    .texte {
        margin: 50px 50px;
        padding: 50px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
    }
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {

    .container-contenu {
        width: 90%;
        height: 100%;
        display: block;
        background-color: blue;
    }

    .container-color {
        position: absolute;
        background-color:#EEC6C6;
        width: 45vw;
        height: 35vw;
        right: 5vw;
        opacity: 0.8;
    }

    .image {
        position: relative;
        width: 40vw;
        float: right;
        top: 5vw;
    }

    .texte {
        position: absolute;
        top: 20vw; right: 45vw;
        width: 45vw;
    }

    h1 {
        margin-top: 30px;
        font-family: 'Asap', sans-serif;
        font-size: 3em;
        font-weight: bold;
        color: #676767;
    }

    p {
        margin-top: 20px;
        font-family: 'Lexend Deca', sans-serif;
    }

}

