/* Mobile Styles */
@media only screen and (max-width: 960px) {
   body {
    font-family: 'Lexend Deca', sans-serif;
   }
   
    .container-contenu {
        position: relative;
     }
 
    h1 {
        left: 9vw;
        font-size: 2em;
        font-weight: bold;
        color: #676767;
        position: relative;
     }

    .image {
        background-size: cover;
        position: absolute;
        top: 290px;
        width: 100%;
        display: flex;
        align-self: center
     }
 
     p {
         margin-left: 9vw;
         margin-right: 9vw;
         font-family: 'Lexend Deca', sans-serif;
     }
 
     .texte {
         position: relative;
         background-color: rgba(255, 255, 255, 0.8);
         text-align: justify;
         font-size: 0.89rem
     }
 
     
     .logo {
         margin: 5px 0 5px 5px;
         padding: 0;
     }
     .color-menu {
         color:#66c587;
     }
 }
 
 /* Desktop Styles */

@media only screen and (min-width: 961px) {
 
    body {
        font-family: 'Lexend Deca', sans-serif;
    }

     .container-contenu {
         width: 900%;
         height: 900%;
         display: block;
         margin-top: 5vw;
     }
 
     .container-color {
         position: absolute;
         background-color: #E7D8BF;
         width: 45vw;
         height: 35vw;
         left: 5vw;
     }
 
     .image {
         position: relative;
         width: 40vw;
         float: left;
         top: 5vw;
     }
 
     .texte {
         position: relative;
         top: 0vw; left: 47vw;
         width: 45vw;
         text-align: justify
     }
 
     h1 {
         margin-top: 30px;
         margin-left: 5ex;
         font-size: 3em;
         font-weight: bold;
         color: #676767;
     }
     

     p {
         margin-top: 20px;
         font-family: 'Lexend Deca', sans-serif;
     }
     
     .logo {
         margin: 5px 0 5px 5px;
         padding: 0;
     }
     
     .color-menu {
         color:#66c587;
     }
 
 
 }
 
 