body {
    padding: 0;
    margin: 0;
  }


.homepage {
    background-image: url('photo-1518399681705-1c1a55e5e883.jpg');
    background-size: auto;
    background-position: center;
    position: relative;
    height: 50em;
}

h1 {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    color: white;
    font-size: 4em;
  }

nav {
    color: white;
    padding: 10px;
}


.Footer_Display_Col {
    display: flex;
    flex-direction:column;
}

.Footer_Display_Raw {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

